---
import type { Code, Debug } from "astro:components"
import ExperienciaItems from "./ExperienciaItems.astro"
const EXPERIENCIA = [
    {
        date: "2022",
        title: "Aplicación administrativa Full Stack",
        description: "Para que una empresa de productos marinos gestiones de mejor forma su inventario, les fue creada esta aplicación. Programada con una base de datos local creada desde cero, y una tecnología .NET Framework, se dio a implementar una aplicación amigable y eficiente capaz de organizar sus datos.",
        link:"https://github.com/Benjamin9854/QuickSea",
    },
    {
        date: "2023",
        title: "Software de escaneo de asistencia",
        description: "Para una universidad que registra la asistencia de sus estudiantes en papel físico, solicitaron la creación de un programa que pueda escanear los códigos QR del carnet de identidad del estudiante y guarde su asistencia en una lista virtual almacenada en la nube.",
        link:"https://github.com/Benjamin9854/Lista_Asistencia_Virtual",
    },
]
---
<ol class="flex justify-center items-center border-gray-200 dark:border-gray-700 my-5">                  
    {
        EXPERIENCIA.map(experiencia =>(
            <li class="mb-10 ms-4">
                <ExperienciaItems {...experiencia} />
            </li>
        )) 
    }
</ol>

