---
import Header from "../components/Header.astro"
import '@fontsource-variable/onest'
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es"  class="scroll-smooth focus:scroll-auto" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute inset-0 -z-10 h-full w-full items-center py-20">
			<div class="h-full w-full transform rotate-180" style="background: radial-gradient(125% 125% at 50% 10%, #000 40%, #f00 100%);"></div>
			<div class="h-full w-full" style="background: radial-gradient(125% 125% at 50% 10%, #000 40%, #f00 100%);"></div>
			<div class="h-full w-full transform rotate-180" style="background: radial-gradient(125% 125% at 50% 10%, #000 40%, #f00 100%);"></div>
		</div>
		<Header />
		<slot />
	</body>
</html>


<style is:global>
	:root {
		color-scheme: light dark;
	}
	html{
		font-family: 'Onest' system-ui, sans-serif;
	}
	body{
		background: #000;
	}
</style>


